table {
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
    margin: 2rem auto;
}

table th, table td {
    border: 1px solid rgb(126, 126, 126);
    padding: 8px;
}

.TableRow {
    cursor: pointer;
}