.custom-bar {
    background-color:#b7d6be;
    width: 100%;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    color: rgb(59, 59, 59) !important;
}

.nav-link:hover {
    font-family: 'Roboto', sans-serif;
    color: rgb(145, 145, 145) !important;
}