.info-about-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 5vh;
}

.main-about-card {
    display: flex;
    flex: 0 1 auto;
    align-self: auto;
    width: 150vh;
    min-height: auto;
    margin-bottom: 5vh;
    align-items: center;
    text-align: center;
}

.inner-about-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 5vh;
}

.inner-about-card {
    display: flex;
    flex: 0 1 auto;
    align-self: auto;
    width: 50vh;
    min-height: auto;
    align-items: center;
    text-align: center;
    margin: 5vh;
}