.main-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    height: 100%;
    width: 100%;
}


.home-image {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    filter: brightness(40%);
    z-index: -1;
    background-size: cover;
}

.text-place {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    color: aliceblue;
}

.button-place {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    color: aliceblue;
}

.img {
    border-radius: 50%;
}

.bottom-div {
    background-color: #382521;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 100%;
}

.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    margin-bottom: 3vw !important;
    margin-top: 3vw !important;
}